body {
    background-color: #f5f5f5;
}
a {
    color:#0C1995;
}
a:hover {
    color:#f5f5f5;
}

.parallax-container {
    max-height: 500px;
}

/* NavBar */
.navbar-fixed a:hover {
  color: #9fa8da;
}
/* END NavBar */

/* Banner */
.banner i:hover{
  color: #9fa8da;
}
/* END banner */

/* Welcome */
.welcome {
  margin-bottom: 20px;
}
.welcome a {
  color: #9fa8da;
}
.welcome a:hover {
  color: white;
}
.welcome .row {
  margin-bottom: 0;
}
.welcome .skill {
  padding-bottom: 10px;
}
/* END Welcome */

/* activite */
.activite a:hover {
    color: #9fa8da;
}
.activite h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 5px;
}
/*EN activite */

/* CV */
.cv h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 5px;
}
.cv table {
  border: 0;
}
.cv td {
  padding: 10px 20px 10px 20px;
}
.cv small {
  padding: 2px 0 0 5px;
}
.cv .cell-left {
  width: 25%;
  text-align: right;
  font-weight: bold;
  vertical-align: top;
}

/* END CV */

.page-footer {
  background-color: #F26C4F!important;
}
